.App {
  text-align: center;
}

// .lightTheme {
//        div {
//           text-align: center;
//           background-color:whitesmoke;
//           font-family: Georgia, 'Times New Roman', Times, serif;
//           color : black;
//         }
// }
// .darkTheme {
//     div {
//           text-align: center; 
//           background-color:black;
//           font-family: Arial, Helvetica, sans-serif;
//           color : rgb(0, 153, 255);
//     }
// }




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
